{% extends 'base.html.twig' %}

{% block title %}Structure index{% endblock %}

{% block body %}
    <h1>Structure index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>PostalAdress</th>
                <th>IsPlanning</th>
                <th>IsNewsletter</th>
                <th>IsBoissons</th>
                <th>IsSms</th>
                <th>IsConcours</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for structure in structures %}
            <tr>
                <td>{{ structure.id }}</td>
                <td>{{ structure.postalAdress }}</td>
                <td>{{ structure.isPlanning ? 'Yes' : 'No' }}</td>
                <td>{{ structure.isNewsletter ? 'Yes' : 'No' }}</td>
                <td>{{ structure.isBoissons ? 'Yes' : 'No' }}</td>
                <td>{{ structure.isSms ? 'Yes' : 'No' }}</td>
                <td>{{ structure.isConcours ? 'Yes' : 'No' }}</td>
                <td>
                    <a href="{{ path('app_structure_show', {'id': structure.id}) }}">show</a>
                    <a href="{{ path('app_structure_edit', {'id': structure.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="8">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_structure_new') }}">Create new</a>
{% endblock %}
