{% extends 'base.html.twig' %}

{% block title %}ECF SHOW PARTNER{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>

<div class="example-wrapper">
    <h1>ECF Train 8</h1>

    Le partenaire {{ partner.name }} possède les structures suivantes :
    {% for structure in structures %}
    <ul>
      <li>
      {{ structure.postalAdress }}
      </li>
    </ul>
    {% endfor %}


    {# {% for user in users %}
        {{ dump(user) }}

        Nom User: {{ user.name }} <br>

        Email User: {{ user.email }} <br>

        Role User:
        {% for role in user.roles %}
            {{ role }}
        {% endfor %}
        <br>
        <br>

         {% if user.partner.id is defined %}
        Nom du partenaire : {{ user.partner.name }} <br>
        Fonctionnalités activées :
        <ul>
            <li>
            Planning : {{ user.partner.isPlanning }}
            </li>
        </ul>
        {% endif %}


        {% if user.structure.id is defined %}
        Adresse postale de la structure : {{ user.structure.postalAdress }} <br>
        Cette structure est rattachée au PARTENAIRE => {{ user.structure.partner.name}} <br>
        Fonctionnalités activées :
        <ul>
            <li>
            Planning : {{ user.structure.isPlanning }}
            </li>
        </ul>
        {% endif %} #}

         {# {% if user.partner.id is defined %}
        Nom du partenaire : {{ user.partner.name }} <br>
        Fonctionnalités activées :
        <ul>
        {% for permission in user.partner.permissions %}
            <li>
                {% for key, value in permission %}
                    {{ key }} : {{ value }}
                {% endfor %}
            </li>
        {% endfor %}
        </ul>
        {% endif %}


        {% if user.structure.id is defined %}
        Adresse postale de la structure : {{ user.structure.postalAdress }} <br>
        Cette structure est rattachée au PARTENAIRE => {{ user.structure.partner.name}} <br>
        Fonctionnalités activées :
        <ul>
        {% for permission in user.structure.partner.permissions %}
            <li>
                {% for key, value in permission %}
                    {{ key }} : {{ value }}
                {% endfor %}
            </li>
        {% endfor %}
        </ul>
        {% endif %} #}

    

    {# {% endfor %} #}

</div>
{% endblock %}
